@model AppUser
@{
    Layout = "_Layout";
}

<style>
      
    
    #profile{
        padding-top: 100px;
    }

    #username{
        font-size:30px;
        font-weight: bold;
        margin-bottom:20px;
    }

    #details{
        font-size:20px;
        margin-bottom: 40px;
    }
    
    #organisation-details{
        margin-right: 15px;
    }
    
    .community-details{
        font-weight:bold;
        font-size:30px;
        padding: 20px 40px;
    }

    #hours{
        border-right: 1px solid black;
    }
    
    #pts-img{
        margin-left: 40px;
    }

    #history{
        margin-top: 40px;
        margin-bottom:20px;
    }

    #history-title{
        font-weight: bold;
        font-size: 25px;
    }

    .personal-history{
        border: 1px solid black;
        display: flex;
        border-radius: 20px;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }


</style>

<div class="container" id="profile">
    <div>
        <img src="~/images/second.png" />
    </div>
    <div id="username">
        @Model.UserName
    </div>
    <div id="details">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span id="organisation-details">@Model.Organisation</span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span>@Model.Email</span>
    </div>
    <div>
        <img src="~/images/hours.png" />
        <span class="community-details" id="hours">@Model.TotalHrs Hours</span>
        <img id="pts-img" src="~/images/points.png" />
        <span class="community-details">@Model.TotalPts Points</span>
    </div>
</div>

<div class="container">

</div>


<div class="container">
    <div id="history">
        <p id="history-title">History Table</p>
    </div>
    <div class="personal-history">
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Event Date</th>
                <th scope="col">Organised By</th>
                <th scope="col">Points Earned</th>
                <th scope="col">Hours Earned</th>
            </tr>
            @foreach (var item in Model.UserEvent)
            {
                <tr>
                    <th scope="row">@item.Uevent.Title</th>
                    <td>@item.Uevent.EventDate</td>
                    <td>@item.Uevent.Organiser</td>
                    <td>@item.Uevent.Points</td>
                    <td>@item.Uevent.Hrs</td>
                </tr>
            }
        </table>
    </div>
</div>